<section class="infos-personnel">
    <div class="example-action-buttons" fxLayout="row" fxLayoutAlign="center center">
            <button mat-button (click)="accordion.openAll()">VOICI MES INFOS</button>
            <button mat-button (click)="accordion.closeAll()">REDUIRE</button>
    </div>
    <mat-accordion class="example-headers-align" multi >
        <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title >
                        NOM COMPLET
                </mat-panel-title>
                <mat-panel-description>
                        NGAMBA MAEL
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
                <mat-form-field appearance="fill">
                    <mat-label  fxLayout="row" fxLayoutAlign="center center" font-size="body-1">NGAMBA TOUKAP</mat-label>
                        <input matInput disabled>
                    </mat-form-field>
        
                    <mat-form-field appearance="fill">
                        <mat-label>21 ans</mat-label>
                        <input matInput disabled>
                    </mat-form-field>

                    <mat-action-row>
                        <button mat-button color="primary" (click)="nextStep()">Suivant</button>
                    </mat-action-row>
            </mat-expansion-panel>
            
            <mat-expansion-panel  [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Originaire D'afrique 
                    </mat-panel-title>
                    <mat-panel-description>
                        plus précisement du cameroun
                        <mat-icon>map</mat-icon>
                    </mat-panel-description>
                    
                </mat-expansion-panel-header>
                    <mat-form-field appearance="fill" font-size="body-1">
                        <mat-label>Cameroun</mat-label>
                        <input matInput disabled>
                    </mat-form-field>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Précedent</button>
                        <button mat-button color="primary" (click)="nextStep()">Suivant</button>
                    </mat-action-row>
            </mat-expansion-panel>
    </mat-accordion>    
</section>    
<br><br>

